@import "../../assets/sass/mixin";
$mainColor: #ff6057;
$seconColor: #7c1c80;

.burgerIcon-wrapper {
  position: relative;
  z-index: 10;
  right: 30px;
  .generator-icon {
    width: 3rem;
    height: 3rem;
    color: $mainColor;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    @include mediaQ(md) {
      display: none;
    }
  }
  .dropDown-links {
    list-style: none;
    width: fit-content;
    padding: 1.5rem 1rem;
    position: absolute;
    top: 3rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: start;
    background-color: #fff;
    border-radius: 1rem;
    li {
      cursor: pointer;
      font-size: 0.9rem;
      font-weight: 600;
      hyphens: manual;
      width: max-content;
      white-space: nowrap;
      padding: 0.1rem 0.5rem;
      letter-spacing: 0px;
      
      &:hover {
        background-color: $mainColor;
        color: #fff;
        transition: all 0.3s;
        border-radius: 0.5rem;
      }
    }
  }
}
