@import "../../assets/sass/mixin";
$mainColor: #ff6057;
$seconColor: #7c1c80;

.myButton {
  padding: 0.6rem 3rem;
  border-radius: 0.4rem;
  outline: none;
  border: none;
  color: none;
}
.gradiant {
  background: rgba(124, 28, 128, 0.66);
  background: linear-gradient(
    -90deg,
    rgba(124, 28, 128, 0.66) 0%,
    #ff6057 100%
  );
  color: #fff;
  &:hover {
    background-color: #fff;
  }
}
.white {
  background-color: #fff;
  color: #ff6057;
  font-size: 1rem;
  &:hover {
  }
}
