.best-solution-wrapper {



  .green {
    background-color: #56e65b;
   
  }
  .blue {
    background-color: #36c5ad;
  }
  .purple {
    background-color: #cb4bf8;
  }
  .orange {
    background-color: #F1291E;
  }
  .sol-icon{
    display: inline-flex;
    border-radius: 50%;
    padding: 1.25rem;
    width: fit-content;
  }
}
