
$seconColor: #7c1c80;
.testCard-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
  .card-img {
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  .card-content {
    margin-left: 1rem;

    h4 {
      color: #3b3a3a;
      font-size: 1.4rem;
      font-weight: 400;
    }
    span {
      display: block;
      color: #8f8f8f;
      font-size: 1rem;
    }
    p {
      font-size: 1.1rem;
      width: 309px;
      height: 115px;
      color: #8f8f8f;
    }
    .card-icon {
      color: $seconColor;
      padding: 0rem 0.1rem;
    }
  }

  margin-bottom: 3rem;
}
